* {
  margin: 0;
  padding: 0;
}

.Time-container {
  height: 100vh;
  padding: 0 17vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Common-page {
  height: 36vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12vw;
  font-weight: bold;
}

.Time-page {
  width: 16vw;
  background-color: lightgray;
  border-radius: 2vw;

  font-style: italic;
}

.Colon-page {
  width: 2vw;
}