* {
  margin: 0;
  padding: 0;
}

.Time-container {
  height: 100vh;
  padding: 0 18vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Time-page {
  width: 16vw;
  height: 36vh;
  background-color: lightgray;
  border-radius: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12vw;
  font-style: italic;
  font-weight: bold;
}